@model DDDEastAnglia.Models.SessionDisplayModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete a submitted session</h2>

@using (Html.BeginForm())
{
    <fieldset id="delete-session">
        <legend>Please confirm that you want to delete the following session</legend>
        
        @Html.Partial("_SessionDetailsPartial", Model)
    </fieldset>

    <p class="alert alert-danger">
        Deleting a session cannot be undone. Please be sure that you wish to delete this session before continuing.
    </p>

    <p>
        <input type="submit" class="btn btn-danger" value="Delete this session" />
        @Html.ActionLink("Cancel", "Index")
    </p>
}
