@model DDDEastAnglia.Models.Session

@{
    ViewBag.Title = "Delete";
}

<h2>Delete a submitted session</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Please confirm that you want to delete the following session</legend>
        
        <div class="session-details">
            <div class="session-title">
                @Html.DisplayFor(model => model.Title)
            </div>

            <div class="abstract">
                @Html.MarkdownFor(model => model.Abstract)
            </div>
        </div>
    </fieldset>

    <p>
        <input type="submit" value="Delete this session" />
        @Html.ActionLink("Cancel", "Index")
    </p>
}
