@model DDDEastAnglia.Models.SessionDisplayModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete a submitted session</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Please confirm that you want to delete the following session</legend>
        
        @Html.Partial("_SessionDetailsPartial", Model)
    </fieldset>

    <p>
        <input type="submit" value="Delete this session" />
        @Html.ActionLink("Cancel", "Index")
    </p>
}
