@using DDDEastAnglia.Models
@model SessionIndexModel

@{
    ViewBag.Title = "Sessions";
}

@section featured
{
    @Html.Partial("_Banner")
}

@foreach (var session in Model.Sessions)
{
    Html.Partial("_SessionDetailsPartial", session);
    if (session.SpeakerName == User.Identity.Name)
    {
        <span>You cannot vote for your own sessions</span>
    }
    else if (session.HasAlreadyBeenVotedFor)
    {
        using (@Html.BeginForm("RemoveVote", "Session", new {id = session.SessionId}))
        {
        <button type="submit">Remove vote</button>
        }
    }
    else
    {
        using (@Html.BeginForm("RegisterVote", "Session", new { id = session.SessionId }))
        {
        <button type="submit">Vote</button>
        }

    }
}
