@using DDDEastAnglia.DataAccess
@using DDDEastAnglia.Models
@model IEnumerable<SessionDisplayModel>


@{
    ViewBag.Title = "Sessions";
}

<h2>Sessions</h2>

@if (new EventRepository().Get("DDDEA2013").CanSubmit())
{
    <p>Session submission is now open. If you would like to speak at @Html.DDDEastAnglia(), please @Html.ActionLink("submit a session", "Create", "Session", null, new { @class = "submit-session" }).</p>
}

@foreach (var session in Model)
{
    Html.RenderPartial("_SessionDetailsPartial", session);
}

@section scripts
{
    @Scripts.Render("~/bundles/voting")
}
