@using DDDEastAnglia.Models
@model IEnumerable<SessionDisplayModel>

@{
    ViewBag.Title = "Sessions";
}

<h2>Sessions</h2>

@foreach (var session in Model)
{
    @Html.Partial("_SessionDetailsPartial", session)
}
