@model DDDEastAnglia.Models.NavigationMenuViewModel

<div class="navbar-collapse">
    <ul class="nav">
        @foreach (var link in Model.Links)
        {
            if (link.IsVisible)
            {
                <li class="dropdown @(link.IsActive ? "active" : "")"><a href="@link.LinkUrl">@link.LinkText</a></li>
            }
        }
    </ul>
</div>
