@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <fieldset id="socialLoginList">
            <legend>Use another service to log in</legend>
            <p>
                <button type="submit" name="provider" value="github" title="Log in using your GitHub account"><i class="icon-github-alt"></i> GitHub</button>
                <button type="submit" name="provider" value="twitter" title="Log in using your Twitter account"><i class="icon-twitter"></i> Twitter</button>
                <button type="submit" name="provider" value="google" title="Log in using your Google account"><i class="icon-google-plus"></i> Google</button>
            </p>
        </fieldset>
    }
}
