@model DDDEastAnglia.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Welcome @Model.UserName</h2>

<p>You have successfully created an account.</p>

<p>You can now @Html.ActionLink("submit a session", "Create", "Session", null, new { @class = "submit-session" }).</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
