<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Abstractions" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Extensions.SqlAnywhere" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Extensions.SqlServer" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.Core" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.Db2" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.Firebird" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.Hana" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.Jet" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.MySql" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.Oracle" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.Postgres" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.Redshift" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.SqlAnywhere" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.SQLite" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.SqlServer" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Runner.SqlServerCe" version="2.0.7" targetFramework="net451" />
  <package id="FluentMigrator.Tools" version="2.0.7" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net451" />
</packages>