@model DDDEastAnglia.Models.AboutViewModel

@{
    ViewBag.Title = "FAQs";
}

<div class="row-fluid">
    <div class="span12">
        <h2>About DDD East Anglia</h2>

        <p>
            Developer! Developer! Developer! (DDD) East Anglia is the newest event in the popular series of Developer Days events for the UK .NET Community that
            have run since May 2005. Although each DDD event has its own particular "flavour", they remain immensely popular and enjoyable, regularly attracting
            200-300 attendees and often selling out within minutes.
        </p>

        <p>
            DDD events were started on the following five principles, which we intend to adhere to in their spirit:
        </p>
        <ol>
            <li>For the community by the community</li>
            <li>Free to attend</li>
            <li>Held on a Saturday or non-work day</li>
            <li>No Microsoft speakers (with some exceptions)</li>
            <li>Grow the local speaker community</li>
        </ol>

        <p>
            <a href="#sessions">Sessions</a> are 
            
            @if (Model.ShowSessionSubmissionLink)
            {
                Html.ActionLink("submitted", "Create", "Session");
            }
            else
            {
                <text>submitted</text>
            }
            
            by members of the community and selected
            by attendees. Microsoft speakers are generally not permitted to speak at DDD events, but the exceptions to this rule are Microsoft employees who
            are active members of the UK .NET community. In short, these are sessions crafted <em>by</em> developers <em>for</em> developers, with no sales pitches
            allowed!
        </p>

        <h3 id="ddd-process">How is the agenda decided?</h3>
        <p>
            DDD events are unique in that <strong>the conference is made by its attendees</strong>. <a href="#sessions">Sessions</a> are submitted by members of the
            UK .NET developer community (i.e. <em>you</em> can 
            
            @if (Model.ShowSessionSubmissionLink)
            {
                Html.ActionLink("submit a session", "Create", "Session");
            }
            else
            {
                <text>submit a session</text>
            }
            
            if you want to), and are voted on by prospective attendees
            (i.e. you) before registration opens. The organisers of DDD events use the results of the voting to determine which sessions are most popular, and so
            which will make for the best event for attendees.
        </p>
        <p>
            The results of voting are weighted to uphold the five principles of DDD events, so we will favour new and local speakers over established speakers or
            speakers from a more remote geographical location.
        </p>

        <h3 id="sessions">Session Submission FAQs</h3>
        <h4 id="submissions-open">When do submissions open?</h4>
        <p>
            Session submissions usually opens a couple of months in advance of the DDD event. This allows us time to collate all the submissions,
            vote on the submissions, and create an agenda for the day from the results of the voting process.
        </p>

        <h4 id="session-length">How long should my session be?</h4>
        <p>
            Sessions at DDD events last for one hour.
        </p>

        <h4 id="session-topics">What topics do you accept sessions on?</h4>
        <p>
            Anything relevant to a .NET developer! Other DDD events have seen submissions on the Raspberry Pi and Gadgeteer, Unit Testing and Test-Driven Development, NoSQL
            databases like RavenDB and Redis, JavaScript, mobile devices. &quot;Softer&quot; topics such as best practices, agile software development, and taking your side
            project to a prime time business, have also been presented.
        </p>
        
        <h4 id="session-format">What format do sessions at DDD events take?</h4>
        <p>
            DDD sessions are usually single-speaker talks on a specific subject, although some have featured multiple speakers. Technical sessions, particularly those
            featuring hardware elements (e.g. Raspberry Pi), work well when demos and code samples are included. That said, we also welcome sessions that are based around a
            new format not yet presented at a DDD event.
        </p>
        <p>
            Some DDD events have run panel discussions and <a href="http://en.wikipedia.org/wiki/Balloon_debate">balloon debates</a>. These are usually at the inception of
            the event organisers rather than through submissions.
        </p>
        
        <h4 id="session-expertise">Do I need to be an expert in my topic?</h4>
        <p>
            <strong>No.</strong> One of the aims of DDD events is to grow the local speaker community, which means favouring new speakers as well as local speakers. DDD
            audiences are interested in hearing about what you've learned about the topic that you are speaking on; being introduced to a new topic, idea, or technology;
            or hearing about your experiences with a project you have been working on.  
        </p>
    </div>
</div>