@{
    ViewBag.Title = "FAQs";
}

<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-list affix sidenav">
            <li><a href="#sessions"><i class="icon-chevron-right"></i> Session Submissions</a></li>
            <li><a href="#voting"><i class="icon-chevron-right"></i> Session Voting</a></li>
        </ul>
    </div>
    
    <div class="span6">
        <div class="page-header">
            <h1>About DDD East Anglia</h1>
        </div>

        <h2 id="sessions">Session Submission FAQs</h2>
        <h3 id="submissions-open">When do submissions open?</h3>
        <p>
            Session submissions usually opens a couple of months in advance of the DDD event. This allows us time to collate all the submissions,
            vote on the submissions, and create an agenda for the day from the results of the voting process.  
        </p>

        <h2 id="voting">Voting FAQs</h2>
        <h3 id=""></h3>
        <p></p>
    </div>
</div>