@{
    ViewBag.Title = "Accommodation";
}

<h2>@ViewBag.Title</h2>

<p>We would like to encourage attendees and speakers to use the <a href="https://goo.gl/maps/1FMVo">Travelodge on Newmarket Road.</a></p>

<div class="hotel-details primary-hotel">
    <a href="http://www.travelodge.co.uk/hotels/577/Cambridge-Newmarket-Road-hotel">
        <img src="@Url.Content("~/Images/hotels/travelodge-newmarket-road.jpg")" />
    </a>

    <p>
        <a href="http://www.travelodge.co.uk/hotels/577/Cambridge-Newmarket-Road-hotel">Travelodge - Newmarket Road</a><br />
        180-190 Newmarket Road<br />
        CB5 8HF
    </p>

    <p class="telephone-number"><span>Tel:</span>0871 984 8484</p>

    <div class="clearfix"></div>
</div>

<p>
    If the Newmarket Road Travelodge is full, alternatives include:
</p>

<div class="hotel-details">
    <a href="http://www.travelodge.co.uk/hotels/512/Cambridge-Orchard-Park-hotel">
        <img src="@Url.Content("~/Images/hotels/travelodge-orchard-park.jpg")" />
    </a>

    <p>
        <a href="http://www.travelodge.co.uk/hotels/512/Cambridge-Orchard-Park-hotel">Travelodge - Orchard Park</a><br />
        Chieftain Way<br />
        Orchard Park<br />
        Kings Hedges Road<br />
        Cambridge<br />
        CB4 2WR
    </p>

    <p class="telephone-number"><span>Tel:</span>0871 984 6481</p>

    <div class="clearfix"></div>
</div>

<div class="hotel-details">
    <a href="http://www.devere.co.uk/locations/university-arms.html">
        <img src="@Url.Content("~/Images/hotels/university-arms.jpg")" />
    </a>

    <p>
        <a href="http://www.devere.co.uk/locations/university-arms.html">De Vere University Arms Hotel</a><br />
        Regent Street<br />
        CB2 1AD
    </p>

    <p class="telephone-number"><span>Tel:</span>01223 273000</p>

    <div class="clearfix"></div>
</div>
