@{
    ViewBag.Title = "Accommodation";
}

<h2>@ViewBag.Title</h2>

<p><strong>Please be aware that the @Html.DDDEastAnglia() weekend is a particularly busy time in Cambridge due to graduation. We recommend that you book your accommodation as soon as possible.</strong></p>

<p>We would like to encourage attendees and speakers to use the brand new Travelodge on Newmarket Road.</p>

<div class="hotel-details primary-hotel">
    <a href="http://www.travelodge.co.uk/hotels/577/Cambridge-Newmarket-Road-hotel">
        <img src="~/Images/hotel-newmarket-road.jpg" />
    </a>

    <p>
        <a href="http://www.travelodge.co.uk/hotels/577/Cambridge-Newmarket-Road-hotel">Travelodge - Newmarket Road</a><br />
        180-190 Newmarket Road<br />
        CB5 8HF
    </p>

    <p class="telephone-number"><span>Tel:</span>0871 984 8484</p>

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tr>
            <td>Flexible rate<br />(Cancel up until noon on the date of arrival)</td>
            <td>£76.00</td>
            <td>£76.00</td>
        </tr>
    </table>
    
    <div class="clearfix"></div>
</div>

<p>
    If the Newmarket Road Travelodge is full, alternatives include:
</p>

<div class="hotel-details">
    <a href="http://www.travelodge.co.uk/hotels/512/Cambridge-Orchard-Park-hotel">
        <img src="~/Images/hotel-orchard-park.jpg" />
    </a>

    <p>
        <a href="http://www.travelodge.co.uk/hotels/512/Cambridge-Orchard-Park-hotel">Travelodge - Orchard Park</a><br />
        Chieftain Way<br />
        Orchard Park<br />
        Kings Hedges Road<br />
        CB4 2WR
    </p>

    <p class="telephone-number"><span>Tel:</span>0871 984 6481</p>

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tr>
            <td>Flexible rate<br />(Cancel up until noon on the date of arrival)</td>
            <td>£76.00</td>
            <td>£76.00</td>
        </tr>
    </table>

    <div class="clearfix"></div>
</div>

<div class="hotel-details">
    <a href="http://www.devere.co.uk/locations/university-arms.html">
        <img src="~/Images/hotel-university-arms.jpg" />
    </a>

    <p>
        <a href="http://www.devere.co.uk/locations/university-arms.html">De Vere University Arms Hotel</a><br />
        Regent Street<br />
        CB2 1AD
    </p>

    <p class="telephone-number"><span>Tel:</span>01223 273000</p>

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Single</th>
                <th>King</th>
            </tr>
        </thead>
        <tr>
            <td>Room only</td>
            <td>£154</td>
            <td>£169</td>
        </tr>
        <tr>
            <td>Advance saver bed &amp; breakfast<br />(Full payment at time of booking)</td>
            <td>£159</td>
            <td>£174</td>
        </tr>
        <tr>
            <td>Bed &amp; breakfast</td>
            <td>£174</td>
            <td>£189</td>
        </tr>
    </table>

    <div class="clearfix"></div>
</div>
