@{
    ViewBag.Title = "Agenda";
}

<h2>Agenda</h2>

<table style="border-style: solid; border-width: 1px">
    <tr>
        <td>0830</td>
        <td>Registration</td>
    </tr>
    <tr>
        <td>0900</td>
        <td>Welcome & Housekeeping</td>
    </tr>
    <tr>
        <td>0915</td>
        <td></td>
    </tr>
    <tr>
        <td>1015</td>
        <td>Break</td>
    </tr>
    <tr>
        <td>1030</td>
        <td></td>
    </tr>
    <tr>
        <td>1130</td>
        <td></td>
    </tr>
    <tr>
        <td>1145</td>
        <td></td>
    </tr>
    <tr>
        <td>1245</td>
        <td></td>
    </tr>
    <tr>
        <td>1400</td>
        <td></td>
    </tr>
    <tr>
        <td>1500</td>
        <td></td>
    </tr>
    <tr>
        <td>1515</td>
        <td></td>
    </tr>
    <tr>
        <td>1615</td>
        <td></td>
    </tr>
    <tr>
        <td>1630</td>
        <td></td>
    </tr>
    <tr>
        <td>1700</td>
        <td>Close</td>
    </tr>
</table>
