@{
    ViewBag.Title = "Contacting DDD East Anglia";
}

<h2>@ViewBag.Title</h2>

<section class="contact">
    <p>
        You can follow @Html.DDDEastAnglia() on <a href="http://twitter.com/DDDEastAnglia" target="_blank">Twitter</a>.
    </p>

    <p>
        You can email us at <a href="mailto:organisers@dddeastanglia.com">organisers@dddeastanglia.com</a>.
    </p>
</section>
