<h2>Environmental Policy - Change for good</h2>

<h3>What we are doing going forward</h3>

<p>DDD East Anglia recognises that it has a responsibility beyond just ensuring you have a great conference, and is 
    taking steps to be a more environmentally sustainable conference.
    We know we are a little late to the party, but we hope to set an example for those yet to catch up.</p>

<p>To kick things off, we are stopping the use of any single use plastics.
    The disposable coffee cups and plastic water bottles you have seen in previous years are out, and we are committed to sourcing 
    more sustainable, reusable alternatives.</p>
    
<p>We are also committing to reviewing and improving our environmental impact for future conferences.</p>

<h3>Things we've been doing for a while</h3>

<p>No one likes waste, so since 2017 we have been donating any left over food and drink 
    to a local homeless shelter <a href="http://www.jimmyscambridge.org.uk">Jimmy's Night Shelter</a>, 
    supporting the local community while reducing what simply gets thrown away.</p>


<h3>Why?</h3>

<p>We all need to band together and do our bit.
    Environmentle issues such as <a href="https://www.plasticpollutioncoalition.org/">plastic waste</a> and climate change
    are problems that are not going away without our help.
</p>

<h3>What you can do to help</h3>

<p>
    Travel miles to and from the venue are where you can make the biggest contribution to 
    helping reduce the impact of the conference.
    
    So we would like to encourage you to opt for more sustainable travel arrangements, such as lift shares, 
    coach or cycling.
    
    We also ask that you consider off-setting your journey by calculating your carbon output, 
    and paying a small contribution to neutralise your trip.
</p>

<h3>Policy Summary</h3>

<p>Irradicate single use plastics</p>
<p>Strive towards zero food and drink waste</p>
<p>Committed to locally sourced produce, to reduce millage and carbon footprint</p>
<p>We will seek to buy recycled and recyclable paper products.</p>
<p>We will strongly encourage our speakers and attendies to use more sustainable travel options</p>
<p>We will continually improve and reduce environmental impacts.</p>