@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        @Html.Partial("_HeadSection")
    </head>

    <body>
        <div class="container">
            <div class="hero-unit">
                <img src="@Url.Content("~/Images/logo-large.png")" alt="Developer! Developer! Developer! East Anglia" />
            </div>

            <h1>
                Coming soon...
            </h1>
            <p></p>

            @Html.Partial("_Footer")
        </div>
    </body>
</html>
