@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<p>
    To give more people a chance of getting a ticket, tickets will be released in a few batches at varying days and times of day.
    If there are no tickets available, please check our <a href="http://twitter.com/DDDEastAnglia" target="_blank">Twitter feed</a>
    for details of when the next batch of tickets will become available.
</p>

<iframe src="//eventbrite.co.uk/tickets-external?eid=46934608678&ref=etckt" frameborder="0" height="445" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

@*
    <div class="alert alert-info" style="margin-top:30px">
        <a class="btn btn-success pull-right" href="https://www.eventbrite.co.uk/e/ddd-east-anglia-post-conference-geek-dinner-tickets-12877078689">Register for Meal</a>
        <h4>Post-conference Geek Dinner</h4>
        <p>
            Join us for a post-conference geek dinner at Pizza Express. Saturday 13<sup>th</sup> September at 20:00.
        </p>
    </div>
*@
