@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<p>
    To give more people a chance of getting a ticket, tickets will be released in a few batches at varying days and times of day.
    If there are no tickets available, please check our <a href="http://twitter.com/DDDEastAnglia" target="_blank">Twitter feed</a> 
    for details of when the next batch of tickets will become available.
</p>

<div style="width:100%; text-align:left;"><iframe src="http://eventbrite.co.uk/tickets-external?eid=12503603615&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://dddea2013.eventbrite.co.uk?ref=etckt">DDD East Anglia</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt">Eventbrite</a></div></div>
