@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div id="eventbrite-widget-container-69225097129"></div>
<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '69225097129',
        iframeContainerId: 'eventbrite-widget-container-69225097129'
    });
</script>
