@{
    ViewBag.Title = "Sponsors";
}

<h2>@ViewBag.Title</h2>
<p>We would like to extend our thanks to our generous sponsors without whose support @Html.DDDEastAnglia() would not be possible.</p>

<p>If you would like to sponsor @Html.DDDEastAnglia(), please @Html.ActionLink("get in touch", "Contact") with the organisers.</p>

<div class="sponsor span5">
    <a href="http://www.pluralsight.com/training"><img src="~/Images/sponsors/pluralsight.png" /></a>
</div>
<div class="sponsor span5">
    <a href="http://www.ideaspace.cam.ac.uk"><img src="~/Images/sponsors/ideaspace.jpg" /></a>
</div>
<div class="sponsor span5">
    <a href="http://www.tinamous.com"><img src="~/Images/sponsors/tinamous.png" /></a>
</div>
<div class="sponsor span5">
    <a href="http://www.iammagpie.co.uk"><img src="~/Images/sponsors/iammagpie.jpg" /></a>
</div>
<div class="sponsor span5">
    <a href="http://www.skillsmatter.com"><img src="~/Images/sponsors/skillsmatter.png" /></a>
</div>