@{
    ViewBag.Title = "The Team";
}

<h2>@ViewBag.Title</h2>
<p>
    <span class="dddea">DDD East Anglia</span> is organised and run by a team of volunteers, all based in or around Cambridge.
</p>

<div class="teammember">
    <img src="/Images/philpursglove.png" alt="picture of Phil" width="181" height="211" />
    Phil Pursglove
    <br />
    <a href="http://www.twitter.com/philpursglove">@@philpursglove</a>
</div>

<div class="teammember">
    <img src="/Images/adrianbanks.jpg" alt="picture of Adrian" width="138" height="205" />
    Adrian Banks
    <br />
    <a href="http://www.twitter.com/adrianbanks">@@adrianbanks</a>
</div>

<div class="teammember">
    <img src="/Images/alastairsmith.jpg" alt="picture of Alastair" width="202" height="202" />
    Alastair Smith
    <br />
    <a href="http://www.twitter.com/alastairs">@@alastairs</a>
</div>

<div class="teammember">
    <img src="/Images/ianjohnson.jpg" alt="picture of Ian"  width="148" height="202"/>
    Ian Johnson
    <br />
    <a href="http://www.twitter.com/IJohnson_TNF">@@IJohnson_TNF</a>
</div>

<div class="teammember">
    <img src="/Images/simonstevens.jpg" alt="picture of Simon" width="160" height="160" />
    Simon Stevens
    <br />
    <a href="http://www.twitter.com/SimonPStevens">@@SimonPStevens</a>
</div>
