<h2>The Venue</h2>
<p>
    <span class="dddea">DDD East Anglia</span> is taking place at <a href="http://www.hillsroad.ac.uk">Hills Road 6th Form College</a>, located in Cambridge close to the railway station.
    <br />
    <br />
    <img src="@Url.Content("~/Images/venue.jpg")" width="800" height="350" alt="Hills Road"/>
</p>

<p>
    The address of Hills Road 6th Form College is:
    <br /><br />
    Hills Road<br />
    Cambridge<br />
    CB2 8PE
</p>

<p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.033103773378!2d0.13372731580859326!3d52.18827097975276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d87a79068fe089%3A0x8026c83b75e59907!2sHills+Road+Sixth+Form+College!5e0!3m2!1sen!2suk!4v1503071499331" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br />
    <a href="https://www.google.com/maps?ll=52.188271,0.135916&z=16&t=m&hl=en-GB&gl=GB&mapclient=embed&cid=9234288243676387591">View larger map</a>
</p>

<br/>
<h3>Getting here by car</h3>

<p>
    The venue is a <a href="https://goo.gl/maps/PZd3s8McSQx">short drive</a> from M11 junction 11.
    There is no parking on site, but the multistorey car park for the <a href="https://cambridgeleisure.co.uk/attractions">Cambridge Leisure Park</a> is only a few minutes walk away.
</p>

<p>
    Alternatively, parking is available at the <a href="http://cambridgeparkandride.info/babrahamroad.shtml">Babraham Road Park and Ride</a>, with a bus to Addenbrooke's hospital.
</p>

<br />
<h3>Getting here by train</h3>

<p>
    Cambridge railway station is located half a mile away from the venue.
    It is a <a href="https://goo.gl/maps/AJSgh4k32Ux">straightforward walk</a> (approx. 10 mins) to the venue.
</p>
