@{
    ViewBag.Title = "The Venue";
}

<h2>@ViewBag.Title</h2>
<p>
    <span class="dddea">DDD East Anglia</span> for 2014 is taking place at Cambridge University's <a href="http://en.wikipedia.org/wiki/Sidgwick_Site">Sidgwick site</a>, located a few miles from Cambridge city centre.
    <br />
</p>

<p>
    The address is:
    <br />
    <br />
    Sidgwick Avenue
    <br />
    Cambridge
    <br />
    CB3 9DD
</p>

<p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2445.3004251712055!2d0.10903085!3d52.2015878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1398627968738" width="600" height="450" frameborder="0" style="border:0"></iframe>
    <br />
    <a href="https://www.google.com/maps/&#64;52.2015878,0.1090308,17z">View larger map</a>
</p>

<p>
    Registration, breaks, lunch, grok talks and the wrap-up session at the end of the day will take place in the foyer of the <a href="http://www.westroad.org/">West Road Concert Hall</a>. (The Sidgwick site is a short walk from West Road).
</p>
<p>
    The address of West Road is:
    <br /><br />
    West Road Concert Hall<br />
    11 West Road<br />
    Cambridge<br />
    CB3 9DP
</p>

<p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2445.2430787586263!2d0.10790099999999998!3d52.20263!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1398629915488" width="600" height="450" frameborder="0" style="border:0"></iframe>
    <br/>
    <a href="https://www.google.com/maps/place/West+Road+Concert+Hall/&#64;52.20263,0.107901,15z/data=!4m2!3m1!1s0x47d870b003f06b2f:0x3484aa12d010bd5d?hl=en">View larger map</a>
</p>

<p>
    Please note that there is no parking available at either site, however both sites are served by buses from the Madingley Road <a href="http://www.cambridgeshire.gov.uk/transport/around/park-ride/">Park and Ride</a> site. There are also car parks in the city centre.
</p>