<h2>The Venue</h2>
<p>
    <span class="dddea">DDD East Anglia</span> is taking place at the <a href="http://www.westroad.org/">West Road Concert Hall</a>, located on the edge of Cambridge city centre.
    <br />
    <br />
    <img src="@Url.Content("~/Images/venue.jpg")" width="800" height="350" alt="West Road Concert Hall"/>
</p>

<p>
    The address of West Road is:
    <br /><br />
    West Road Concert Hall<br />
    11 West Road<br />
    Cambridge<br />
    CB3 9DP
</p>

<p>
    <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&msid=202551643567385692947.0004cb7b9ae5bd25a7cfe&hl=en&ie=UTF8&t=m&source=embed&ll=52.202452,0.107975&spn=0.036822,0.072956&output=embed"></iframe>
    <br />
    <a href="https://maps.google.com/maps/ms?msa=0&msid=202551643567385692947.0004cb7b9ae5bd25a7cfe&hl=en&ie=UTF8&t=m&source=embed&ll=52.202452,0.107975&spn=0.036822,0.072956&z=13&output=embed">View larger map</a>
</p>

<br/>
<h3>Getting here by car</h3>

<p>
    <strong>Please note that there is no parking available on site</strong>, however there are several <a href="https://www.cambridge.gov.uk/car-parks-map">car parks in the city centre</a> 
    within walking distance of the venue. Alternatively, parking is available at <a href="http://www.cambridgeshire.gov.uk/info/20024/park_and_ride/54/park_and_ride_bus_information/2#red">Madingley Road Park and Ride</a> 
    site, with a bus towards Cambridge. You will need to get off the bus at the Bridge Street stop and <a href="https://goo.gl/maps/14vHw">walk to the venue</a> (approx. 15 mins).
</p>

<br />
<h3>Getting here by train</h3>

<p>
    Cambridge railway station is located a few miles away from the venue. Buses can be caught outside the station to the city centre (take the
    <a href="http://www.stagecoachbus.com/PdfUploads/Timetable_42102_%20Cambridge%20citi%201.pdf">Citi 1</a> towards Arbury,
    <a href="http://www.stagecoachbus.com/PdfUploads/Timetable_45728_%20Cambridge%20citi%203.pdf">Citi 3</a> towards Fison Road,
    <a href="http://www.stagecoachbus.com/PdfUploads/Timetable_42347_%20Cambridge%20citi%207.pdf">Citi 7</a> towards Cambridge, or
    <a href="http://www.stagecoachbus.com/PdfUploads/Timetable_42110_Cambridge%20citi%208.pdf">Citi 8</a> towards Cottenham).
    You will need to get off the bus at Drummer Street bus station and <a href="https://goo.gl/maps/YCr8E">walk to the venue</a> (approx. 20 mins).
</p>

<br/>
<h3>Bus Information</h3>

<p>
    West Road Concert Hall is not located directly on a bus route, but you may need to take a bus to get to the venue.
    MyBusTrip is a free mobile phone app that shows real-time bus information in the cambridge area.
    <br/>
    <br/>
    
    <a href="https://itunes.apple.com/gb/app/mybustrip/id526679149?mt=8"><img src="@Url.Content("~/Images/itunesappstore.gif")" /></a>
    <a href="https://play.google.com/store/apps/details?id=com.acis.mybustrip.screens"><img src="@Url.Content("~/Images/googleplaystore.gif")" /></a>
</p>
