<h2>The Venue</h2>
<p>
    <span class="dddea">DDD East Anglia</span> is taking place at <a href="http://utccambridge.co.uk/">UTC Cambridge</a>, located close to Addenbrookes Hospital.
    <br />
    <br />
    <img src="@Url.Content("~/Images/utcvenue.jpg")" width="640" height="427" alt="UTC Cambridge"/>
</p>

<p>
    The address of UTC Cambridge is:
    <br /><br />
    UTC Cambridge<br />
    Robinson Way<br />
    Cambridge<br />
    CB2 0SZ
</p>

<p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.588323450411!2d0.13286871588767904!3d52.17817796925714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d87a65070cf865%3A0x8b6f1992649528c9!2sUTC+Cambridge!5e0!3m2!1sen!2suk!4v1494532924668" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br />
    <a href="https://maps.google.com/maps/ms?msa=0&msid=202551643567385692947.0004cb7b9ae5bd25a7cfe&hl=en&ie=UTF8&t=m&source=embed&ll=52.202452,0.107975&spn=0.036822,0.072956&z=13&output=embed">View larger map</a>
</p>

<br/>

<h3>Getting here by car</h3>

<p>
    It should take about 10 minutes to drive the four miles from the M11 junction. Leave the motorway at Junction 11 heading towards Cambridge town centre.
    Stay in the right hand lane and turn right at the traffic lights into Addenbrooke's Road.  Continue over the Shelford Road junction heading towards the Cambridge Biomedical Campus.
    Go straight over the next roundabout (2nd exit) and then take a left turn after the MRC Building.  Follow Robinson Way and you will find UTCC at the end of Robinson Way,
    just before the Long Road junction.
    <strong>We have some parking on site and the public car parks on the Addenbrookes’ site are all within a short walking distance.</strong>
</p>

<br />
<h3>Getting here by train</h3>

<p>
    Cambridge railway station is located a mile and a half from the venue. 
    Follow Station Road to the junction with Hills Road and then turn left at the traffic lights. Follow Hills Road over the bridge, through the traffic lights at Cherry Hinton Road 
    and straight towards Addenbrooke's Hospital.  Turn right at the next traffic lights into Long Road and then turn left into Robinson Way.  UTCC is immediately on your right.
</p>
<!--
<br/>
<h3>Bus Information</h3>

<p>
    West Road Concert Hall is not located directly on a bus route, but you may need to take a bus to get to the venue.
    MyBusTrip is a free mobile phone app that shows real-time bus information in the cambridge area.
    <br/>
    <br/>
    
    <a href="https://itunes.apple.com/gb/app/mybustrip/id526679149?mt=8"><img src="@Url.Content("~/Images/itunesappstore.gif")" /></a>
    <a href="https://play.google.com/store/apps/details?id=com.acis.mybustrip.screens"><img src="@Url.Content("~/Images/googleplaystore.gif")" /></a>
</p>
    -->