@{
    ViewBag.Title = "The Venue";
}

<h2>@ViewBag.Title</h2>
<p>
    <span class="dddea">DDD East Anglia</span> is taking place at <a href="http://www.hauserforum.com/contact/">The Hauser Forum</a>, located a few miles from Cambridge city centre.
    <br />
    <br />
    <img src="/Images/venue.jpg" width="804" height="351" alt="The Hauser Forum" />
</p>

<p>
    The address is: 
    <br />
    <br />
    The Hauser Forum
    <br />
    3 Charles Babbage Road
    <br />
    Cambridge
    <br />
    CB3 0GT
</p>

<p>
    <iframe width="525" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114984678353471543336.00048e94e2e44ca03a9c6&ll=52.208869,0.091324&spn=0.128754,0.205307&z=11&output=embed"></iframe>
    <br />
    <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=114984678353471543336.00048e94e2e44ca03a9c6&ll=52.208869,0.091324&spn=0.128754,0.205307&z=11">View larger map</a>
</p>

<p>
    Free parking is available on site. Please park on the car park behind the <a href="/Images/parking.jpg">Roger Needham Building</a>, which is only a short walk from the Hauser Forum.
</p>
