<h2>The Venue</h2>
<p>
    <span class="dddea">DDD East Anglia</span> is taking place at <a href="http://www.hillsroad.ac.uk">Hills Road Sixth Form College</a>, located in Cambridge close to the railway station.
    <br/>
    <br/>
    <img src="@Url.Content("~/Images/hillsroad.jpg")" width="800" height="532" alt="Hills Road"/>
</p>

<p>
    The address of Hills Road 6th Form College is:
    <br/>
    <br/>
    Hills Road Sixth Form College
    <br/>
    Hills Road
    <br/>
    Cambridge
    <br/>
    CB2 8PE
</p>

<p>
    <b>When arriving on the day, please enter via the entrance on Purbeck Road.</b>
</p>

<p>
    <iframe src="https://www.google.com/maps/d/embed?mid=1l9hZaxzEA_Li4cjAZ_z_nrKWgcY&ll=52.19950104716215%2C0.12764596872557377&z=13" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br/>
    <a href="https://www.google.com/maps/d/embed?mid=1l9hZaxzEA_Li4cjAZ_z_nrKWgcY&ll=52.19950104716215%2C0.12764596872557377&z=14">View larger map</a>
</p>

<br/>
<h3>Getting here by car</h3>

<p>
    The venue is a <a href="https://goo.gl/maps/PZd3s8McSQx">short drive</a> from M11 junction 11.
    There is no parking on site, but the <a href="https://goo.gl/maps/bEuEKmbutM22">Cambridge Leisure Park's multistorey car park</a> on Clifton Road is only a <a href="https://goo.gl/maps/BNQCQGFT6t22">few minutes walk</a> away.
</p>

<p>
    Alternatively, parking is available at the <a href="http://cambridgeparkandride.info/babrahamroad.shtml">Babraham Road Park and Ride</a>. The bus stops outside of Hills Road Sixth Form College.
</p>

<br/>
<h3>Getting here by train</h3>

<p>
    Cambridge railway station is located half a mile away from the venue.
    It is a <a href="https://goo.gl/maps/AJSgh4k32Ux">straightforward walk</a> (approx. 10 mins) to the venue.
</p>

<br/>
<h3>Bus information</h3>

<p>
    Hills Road Sixth Form College is on the bus route for the <a href="http://www.travelineeastanglia.org.uk/ea/TTB/EFA01__0000587f_AS.pdf">Citi 1</a> and <a href="http://www.travelineeastanglia.org.uk/ea/TTB/EFA01__0000273d_TP.pdf">Citi 7</a>, both of which stop directly outside the college.
</p>

<p>
    MyBusTrip is a free mobile phone app that shows real-time bus information in the cambridge area.
    <br/>
    <br/>

    <a href="https://itunes.apple.com/gb/app/mybustrip/id526679149?mt=8"><img src="@Url.Content("~/Images/itunesappstore.gif")" /></a>
    <a href="https://play.google.com/store/apps/details?id=com.acis.mybustrip.screens"><img src="@Url.Content("~/Images/googleplaystore.gif")" /></a>
</p>
