@{
    ViewBag.Title = "The Venue";
}

<h2>@ViewBag.Title</h2>
<p>
    <span class="dddea">DDD East Anglia</span> for 2014 is taking place at the <a href="http://www.westroad.org/">West Road Concert Hall</a>, located on the edge of Cambridge city centre.
    <br />
</p>

<p>
    The address of West Road is:
    <br /><br />
    West Road Concert Hall<br />
    11 West Road<br />
    Cambridge<br />
    CB3 9DP
</p>

<p>
    <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&msid=202551643567385692947.0004cb7b9ae5bd25a7cfe&hl=en&ie=UTF8&t=m&source=embed&ll=52.202452,0.107975&spn=0.036822,0.072956&output=embed"></iframe>
    <br />
    <a href="https://maps.google.com/maps/ms?msa=0&msid=202551643567385692947.0004cb7b9ae5bd25a7cfe&hl=en&ie=UTF8&t=m&source=embed&ll=52.202452,0.107975&spn=0.036822,0.072956&z=13&output=embed">View larger map</a>
</p>

<p>
    Please note that there is no parking available on site, however West Road is served by buses from the Madingley Road <a href="http://www.cambridgeshire.gov.uk/transport/around/park-ride/">Park and Ride</a> site. There are also car parks in the city centre.
</p>