@{
    ViewBag.Title = "The Venue";
}

<h2>@ViewBag.Title</h2>
<p>
    <span class="dddea">DDD East Anglia</span> for 2014 is taking place at the <a href="http://www.westroad.org/">West Road Concert Hall</a>, located on the edge of Cambridge city centre.
    <br />
</p>

<p>
    The address of West Road is:
    <br /><br />
    West Road Concert Hall<br />
    11 West Road<br />
    Cambridge<br />
    CB3 9DP
</p>

<p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2445.243023733854!2d0.10790099999999998!3d52.202631!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d870b003f06b2f%3A0x3484aa12d010bd5d!2sWest+Road+Concert+Hall!5e0!3m2!1sen!2s!4v1398633597617" width="600" height="450" frameborder="0" style="border:0"></iframe>
    <br />
    <a href="https://www.google.com/maps/place/West+Road+Concert+Hall/&#64;52.202631,0.107901,17z/data=!3m1!4b1!4m2!3m1!1s0x47d870b003f06b2f:0x3484aa12d010bd5d">View larger map</a>
</p>

<p>
    Please note that there is no parking available on site, however West Road is served by buses from the Madingley Road <a href="http://www.cambridgeshire.gov.uk/transport/around/park-ride/">Park and Ride</a> site. There are also car parks in the city centre.
</p>