@using Microsoft.Ajax.Utilities
@model IList<DDDEastAnglia.VotingData.Models.VotersPerIPAddressForSessionModel>

<table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr><th>
            IP Address
            <a id="resolveAllLink" class="pull-right" href="#" onclick="javascript:resolveAllIPAddresses(this); return false;"><i class="icon-search"></i> Resolve all IP addresses</a>
        </th><th>
            Number of Votes
        </th></tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        var id = Html.IpAddressToId(item.IPAddress + "_" + Guid.NewGuid());
        
        <tr><td>
            @item.IPAddress

            <div>
                <a id="iplink@(id)" href="#" onclick="javascript:resolveIP('iplink@(id)', '@item.IPAddress', 'resolved@(id)');return false;" title="Resolve IP address"><i class="icon-search"></i></a>
                <span id="resolved@(id)"></span>
            </div>
        </td><td>
            @item.NumberOfVotes
        </td></tr>
    }
    </tbody>
</table>
