@using Newtonsoft.Json
@model long[][]

<h2>Votes Per Hour</h2>

<p>This charts shows the distribution of votes against the time of day that the vote was cast.</p>

<div id="chart" style="width:100%;height:600px;"></div>

@section scripts
{
    @Scripts.Render("~/bundles/flot")

    <script>
        $(document).ready(function() {
            var data = [{
                color: "#C00",
                data: @JsonConvert.SerializeObject(Model)
            }];

            var options = {
                series: {
                    bars: { show: true },
                    shadowSize: 2
                },
                bars: {
                    align: "center",
                    barWidth: 0.9
                },
                xaxis: {
                    axisLabel: "Hour"
                },
                yaxis: {
                    axisLabel: "Number of votes"
                },
                grid: {
                    hoverable: true,
                    backgroundColor: { colors: ["#fff", "#eee"] }
                }
            };

            $.plot($("#chart"), data, options);
            $(window).resize(function() {$.plot($('#chart'), data, options);});
        });
    </script>
}
