@using Newtonsoft.Json
@model long[][]

<h2>Votes Per Day</h2>

<p>This charts shows the distribution of votes against the day that the vote was cast.</p>

<div id="chart" style="width:100%;height:600px;"></div>

@section scripts
{
    @Scripts.Render("~/bundles/flot")

    <script>
        $(document).ready(function() {
            var data = [
            {
                color: "#C00",
                data: @Html.Raw(JsonConvert.SerializeObject(Model))
                }
            ];

            var ticks = [[0, "Sunday"], [1, "Monday"], [2, "Tuesday"], [3, "Wednesday"], [4, "Thursday"], [5, "Friday"], [6, "Saturday"]];
            var options = {
                series: {
                    bars: { show: true }
                },
                bars: {
                    align: "center",
                    barWidth: 0.9
                },
                xaxis: {
                    axisLabel: "Day of week",
                    ticks: ticks
                },
                yaxis: {
                    axisLabel: "Number of votes"
                },
                grid: {
                    hoverable: true,
                    backgroundColor: { colors: ["#fff", "#eee"] }
                }
            };

            $.plot($("#chart"), data, options);

            function showTooltip(x, y, contents) {
                $("<div id='tooltip'>" + contents + "</div>").css({
                    position: "absolute",
                    display: "none",
                    top: y - 30,
                    left: x - 15,
                    border: "1px solid #444",
                    padding: "2px",
                    "background-color": "#c00",
                    color: "white",
                    opacity: 0.90
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#chart").bind("plothover", function(event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var numberOfVotes = item.datapoint[1];
                        showTooltip(item.pageX, item.pageY, numberOfVotes);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        });
    </script>
}
