body {
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: Avenir, Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: .06em;
}

h1, h2, h3, h4{
    letter-spacing: .1em;
}

dd {
    margin-left: 20px;
}

a { text-decoration: underline; }

a.btn, .dropdown-menu a, a.brand, a [class^="icon-"] { text-decoration: none; }

input[type="submit"].btn {
    margin-right: 10px;
}

label:first-letter {
    text-transform: capitalize;
}

label.checkbox {
    display: inline;
}

.checkbox {
    padding-left: 5px;
}

fieldset ol li {
    list-style-type: none;
}

fieldset {
    padding: 5px;
}

.editor-field input[type="text"][id="Title"],
#wmd-input {
    width: 80%;
}

#wmd-preview {
    width: 80%;
    border: 2px dotted #ccc;
    padding: 5px;
    margin-bottom: 15px;
}

.dropdown-menu > li > form {
    margin-bottom: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(to top right, #C54669, #574293);
    background-repeat: repeat-x;
}

.group-box {
    position: relative;
    padding: 35px 15px 15px 15px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.group-box:after {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-weight: bold;
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

#oldsites-footer-menu {
    display: inline-block;
    text-decoration: underline;
}

#oldsites-footer-menu ul {
    display: none;
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
    width: 120px;
    position: absolute;
}

#oldsites-footer-menu div:hover > ul {
    display: inline-block;
}
