body {
    padding-top: 0;
    padding-bottom: 40px;
}

dd {
    margin-left: 20px;
}

.sidebar-nav { padding: 9px 0; }

.masthead {
    margin: 10px 20px;
    min-height: 115px;
}

.masthead img { margin-right: 10px; }

.navbar { margin-bottom: 10px; }
.btn.btn-navbar {
    float: left;
    margin-left: 0;
}

.dddea {
    font-weight: bold;
    color: #013c01;
}

#sidebar { min-width: 180px; }

#sidebar h1 { font-size: 18px; }

.sponsor { margin-bottom: 20px; }

.sponsor a {
    border: 1px solid #e7e7e7;
    display: block;
    padding: 15px;
    text-align: center;
}

.sponsor a:hover { border: 1px solid #013c01 }

#sponsors .sponsor {
    display: inline-block;
    overflow: hidden;
}

.sponsor a img {
    border: 0;
    margin: 0 auto;
}

.teammember {
    overflow: hidden;
    padding: 15px;
    margin-bottom: 10px;
}

.teammember img {
    float: left;
    margin-right: 15px;
    border: 1px solid #013c01;
}