footer span {
    white-space: nowrap;
}

.dropdown-menu a, a.carousel-control { text-decoration: none; }

.carousel-caption a { color: white; }

#photos { max-width: 850px; }

.sidebar-nav { padding: 9px 0; }

.masthead {
    margin: 10px 20px;
    min-height: 115px;
}

.masthead h2 {
    padding-top: 10px;
}

.masthead img { margin-right: 10px; }

.navbar { margin-bottom: 10px; }

.btn.btn-navbar {
    float: left;
    margin-left: 0;
}

.navbar .nav > li > a {
    text-shadow: 0 1px 0 #666666;
}

.dddea {
    font-weight: bold;
    color: #013c01;
}

#sidebar { max-width: 250px; }

#sidebar h1 { font-size: 18px; }
#sidebar h1:first-of-type { margin-top: 0; }

.sponsor { margin-bottom: 20px; }

.sponsor a {
    background-color: white;
    border: 1px solid #e7e7e7;
    display: block;
    padding: 15px;
    text-align: center;
}

.sponsor a:hover { border: 1px solid #013c01 }

#sponsors .sponsor {
    display: inline-block;
    overflow: hidden;
    max-width: 210px;
}

.sponsor a img {
    border: 0;
    margin: 0 auto;
}

.teammember {
    overflow: hidden;
    padding: 15px;
    margin-bottom: 10px;
    display: inline-block;
    width: 350px;
}

.teammember img {
    float: left;
    margin-right: 15px;
    border: 1px solid #013c01;
}

.abstract {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tweet-session {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inline-large-icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.field-validation-error, .validation-summary-errors {
    color: #b94a48;
    font-weight: bold;
}

.validation-summary-errors {
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.validation-summary-errors ul {
    margin: 0;
}

.validation-summary-errors li {
    list-style-type: none;
}

#registerLink {
    margin-top: 10px;
}

.session-details-own, .speaker-own {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.speaker {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.session-details {
    border-bottom: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 10px;
}

.session-details h3 {
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 120px;
    padding-bottom: 2px;
}

.session-details h4 {
    margin-bottom: 10px;
}

.session-abstract {
    margin-top: 10px;
    border-bottom: 0;
}

#delete-session .session-actions,
#delete-session .session-tweet {
    display: none;
}

.action {
    padding-right: 10px;
}

#notifications-banner {
    color: white;
    background-color: #008600;
    text-shadow: 0 1px 1px black;
    padding: 10px 20px 10px 20px;
    margin: 0;
    display: none;
    border-bottom: 1px solid #777777;
}

#notifications-banner p {
    margin: 0;
}

#notifications-banner a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

#notifications-banner a:hover {
    color: #eee;
}

#notifications-banner .dismiss {
    border: 2px solid #ccc;
    padding: 0 6px;
    cursor: pointer;
    float: right;
}

#notifications-banner .dismiss a,
#notifications-banner .dismiss a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 0;
}

.voting {
    display: inline-block;
}

.form-search {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hotel-details {
    margin: 30px 0 30px 0;
    padding: 10px;

    border: 5px solid #e3e3e3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.hotel-details.primary-hotel {
    border-color: #008600;
}

.hotel-details table {
    width: auto;
}

.hotel-details img {
    float: right;
    width: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.hotel-prices {
    margin: 10px 0 10px 0;
}

.hotel-details .telephone-number span {
    font-weight: bold;
    margin-right: 5px;
}

.passedTimelinePeriod {
    text-decoration: line-through;
    color: #a9a9a9;
}

.speaker-profile {
    margin-right: 10px;
}
