body {
    padding-top: 0;
    padding-bottom: 40px;
}

dd {
    margin-left: 20px;
}

a { text-decoration: underline; }

a:hover { color: #008600; }

a.btn, .dropdown-menu a, a.carousel-control { text-decoration: none; }

.carousel-caption a { color: white; }

#photos { max-width: 850px; }

.sidebar-nav { padding: 9px 0; }

.masthead {
    margin: 10px 20px;
    min-height: 115px;
}

.masthead img { margin-right: 10px; }

.navbar { margin-bottom: 10px; }
.btn.btn-navbar {
    float: left;
    margin-left: 0;
}

.dropdown-menu > li > form {
    margin-bottom: 0;
}

.dropdown-menu > li > form > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li > form > a:hover,
.dropdown-menu > li > form > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #013201;
    background-image: -moz-linear-gradient(top, #013c01, #012301);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#013c01), to(#012301));
    background-image: -webkit-linear-gradient(top, #013c01, #012301);
    background-image: -o-linear-gradient(top, #013c01, #012301);
    background-image: linear-gradient(to bottom, #013c01, #012301);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff013c01', endColorstr='#ff012301', GradientType=0);
}

.dddea {
    font-weight: bold;
    color: #013c01;
}

#sidebar { max-width: 250px; }

#sidebar h1 { font-size: 18px; }
#sidebar h1:first-of-type { margin-top: 0; }

.sponsor { margin-bottom: 20px; }

.sponsor a {
    background-color: white;
    border: 1px solid #e7e7e7;
    display: block;
    padding: 15px;
    text-align: center;
}

.sponsor a:hover { border: 1px solid #013c01 }

#sponsors .sponsor {
    display: inline-block;
    overflow: hidden;
    max-width: 210px;
}

.sponsor a img {
    border: 0;
    margin: 0 auto;
}

.teammember {
    overflow: hidden;
    padding: 15px;
    margin-bottom: 10px;
}

.teammember img {
    float: left;
    margin-right: 15px;
    border: 1px solid #013c01;
}

.abstract {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tweet-session {
    margin-top: 10px;
    margin-bottom: 10px;
}

.speaker {
    margin-bottom: 30px;
}

.inline-large-icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.field-validation-error, .validation-summary-errors {
    color: red;
    font-weight: bold;
}

.validation-summary-errors li {
    list-style-type: none;
}

label:first-letter {
    text-transform: capitalize;
}

label.checkbox {
    display: inline;
}

fieldset ol li {
    list-style-type: none;
}

.checkbox {
    padding-left: 5px;
}

fieldset {
    padding: 5px;
}

#registerLink {
    margin-top: 10px;
}

.editor-field input[type="text"][id="Title"],
#wmd-input {
    width: 80%;
}

#wmd-preview {
    width: 80%;
    border: 2px dotted #ccc;
    padding: 5px;
    margin-bottom: 15px;
}

.session-details-own {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.session-details {
    border-bottom: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 30px;
}

.session-title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.session-speaker {
    font-size: 18px;
    margin-bottom: 10px;
}

.session-abstract {
    margin-top: 10px;
    border-bottom: 0;
}

#delete-session .session-actions,
#delete-session .session-tweet {
    display: none;
}

.session-actions {
    text-align: right;    
}

.session-actions .action {
    padding-right: 10px;
}

.banner {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    background-color: #006000;
    background-image: linear-gradient(to bottom, #00b000, #006000);
    border-radius: 10px;
    padding: 15px;
    margin: 30px 0 30px 0;
}

.banner a {
    color: white;
}

.banner a:hover {
    color: greenyellow;
}

a i {
    text-decoration: none;
}

.speaker {
    border-bottom: 1px solid lightgray;
}
