*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: Arial,Helvetica,Tahoma,sans-serif;
    background-color: #a6a6a6;
    background-image: url(background.png);
    background-repeat: repeat-x;
}

iframe
{
    border: 1px solid #013c01;
}

img
{
    border: 0;
    padding: 5px;
}

p
{
    margin-bottom: 30px;
}

a, a:active, a:link, a:visited, a:hover
{
    color: #013c01;
}

.dddea
{
    color: #013c01;
    font-weight: bold;
}

#titlearea
{
    width: 80%;
    margin: auto;
    height: 100px;
    padding: 5px 20px 30px 0;
    white-space: nowrap;
    font-weight: bold;
    color: #013c01;
}

#title
{
    color: #005800;
    font-size: 3.5em;
    text-shadow: 1px 1px 2px #013c01;
}

#titlearea img
{
    float: left;
    padding-right: 15px;
}

#contentarea
{
    overflow: hidden;
    width: 85%;
    min-width: 850px;
    margin: auto;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0 1px 0 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 15px 30px 15px;
}

#footerarea
{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: .8em;
    text-align: right;
}

.sponsor a
{
    border: 1px solid #e7e7e7;
    display: block;
    width: 300px;
    height: 210px;
}

    .sponsor a:hover
    {
        border: 1px solid #013c01;
    }

#sponsorlist .sponsor
{
    display: inline-block;
    height: 210px;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 10px;
}

    #sponsorlist .sponsor a
    {
        float: left;
        margin-right: 15px;
    }

.teammember
{
    overflow: hidden;
    padding: 15px;
    margin-bottom: 10px;
}

    .teammember img
    {
        float: left;
        margin-right: 15px;
        border: 1px solid #013c01;
    }

#menuarea
{
    height: 50px;
    background-color: #005800;
    background-image: url(menu.png);
    background-repeat: repeat-x;
    border-top: 1px solid #013c01;
    border-bottom: 1px solid #013c01;
    white-space: nowrap;
}

    #menuarea ul
    {
        width: 80%;
        margin: auto;
        min-width: 1050px;
    }

        #menuarea ul li
        {
            list-style-type: none;
            float: left;
            text-align: center;
            width: 140px;
        }

    #menuarea a:first-child
    {
        border-left: 1px solid #013c01;
    }

    #menuarea a:last-child
    {
        border-right: 1px solid #013c01;
    }

    #menuarea a
    {
        color: #f8f2e5;
        text-decoration: none;
        display: block;
        height: 35px;
        padding-top: 15px;
    }

        #menuarea a:hover
        {
            background-color: #013c01;
            background-image: url(menu-hover.png);
            background-repeat: repeat-x;
            color: #e7e7e7;
        }

#sidebararea
{
    float: right;
    width: 30%;
    min-width: 310px;
    border: 3px solid #013c01;
    border-radius: 3px;
    margin-left: 5px;
}

.sidebar p.title
{
    height: 20px;
    background-image: url(sidebar.png);
    background-repeat: repeat-x;
    background-color: #005800;
    color: #f8f2e5;
    margin: 0 0 10px 0;
    padding: 5px;
    font-weight: bold;
}

.sidebar p
{
    padding: 5px;
}

.sidebar .sponsor
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
}
