.brand a {
    text-decoration: none;
}

.table th {
    text-transform: capitalize;
}

.table th.header {
    cursor: pointer;
}

.table th.header .icon {
    font-family: FontAwesome;
}

.table th.headerSortUp .icon:before {
    content: "\f0dd";
}

.table th.headerSortDown .icon:before {
    content: "\f0de";
}

.table td:last-child {
    text-align: right;
}

.table i {
    padding-left: 10px;
}
