body {
    padding-top: 50px;
}

a { text-decoration: underline; }

a.btn, .dropdown-menu a, a.brand { text-decoration: none; }

.table th {
    text-transform: capitalize;
}

.table th.header {
    cursor: pointer;
}

.table th.header .icon {
    font-family: FontAwesome;
}

.table th.headerSortUp .icon:before {
    content: "\f0dd";
}

.table th.headerSortDown .icon:before {
    content: "\f0de";
}

.table td.controls {
    text-align: right;
}

.table i {
    padding-left: 10px;
}

.dropdown-menu > li > form {
    margin-bottom: 0;
}

.dropdown-menu > li > form > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li > form > a:hover,
.dropdown-menu > li > form > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #013201;
    background-image: -moz-linear-gradient(top, #013c01, #012301);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#013c01), to(#012301));
    background-image: -webkit-linear-gradient(top, #013c01, #012301);
    background-image: -o-linear-gradient(top, #013c01, #012301);
    background-image: linear-gradient(to bottom, #013c01, #012301);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff013c01', endColorstr='#ff012301', GradientType=0);
}

.ui-progressbar {
    height: 1em;
}

.ui-progressbar-value {
    background: #008600;
}

#progresslabel {
    float: left;
    margin-left: 50%;
    font-size: 0.85em;
    line-height: 1.2em;
    text-shadow: 1px 1px 0 #fff;         
}
