.table th {
    text-transform: capitalize;
}

.table th.header {
    cursor: pointer;
}

.table th.header .icon {
    font-family: FontAwesome;
}

.table th.headerSortUp .icon:before {
    content: "\f0dd";
}

.table th.headerSortDown .icon:before {
    content: "\f0de";
}

.table td.controls {
    text-align: right;
}

th.barchart, td.barchart {
    width: 50%;
}

.progress {
    border: 1px solid #aaa;
}

.ui-progressbar {
    height: 1em;
}

.ui-progressbar-value {
    background: #008600;
}

.votedSessions {
    padding-left: 30px;
}

.span6 {
    height: 220px;
}

.bio:after {
    content: "Bio";
}

.user-details a {
    text-decoration: none;
}

.user-details a:hover {
    text-decoration: underline;
}

.user-details:after {
    content: "Details";
}
