@using DDDEastAnglia.Models
@model IEnumerable<SpeakerDisplayModel>

@{
    ViewBag.Title = "Speakers";
}

<h2>Speakers</h2>

@foreach (var speaker in Model)
{
    <div class="row-fluid">
        @Html.Partial("_SpeakerDetailsPartial", speaker)
    </div>
}
