@using DDDEastAnglia.Models
@model IEnumerable<SpeakerDisplayModel>

@{
    ViewBag.Title = "Speakers";
}

@Html.Partial("_SearchBox", new ViewDataDictionary {{"containerClass", ".speaker"}})

<h2>Speakers</h2>

@foreach (var speaker in Model)
{
    <div class="row">
        @Html.Partial("_SpeakerDetailsPartial", speaker)
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/searchfilter")
}
