@{
    ViewBag.Title = "Speaker Resources";
}

<div class="row-fluid">
    <div class="span12">
        <h1>Speaker help for CFP submission</h1>
    </div>
</div>
<p>
    We have put together a list of articles that we thought would be useful for both
    first-time speakers, and as a refresher for seasoned speakers, in preparation of your session
    submission.
</p>

<ul>
    <li><a href="https://dev.to/emmawedekind/tips-for-first-time-speakers-3fcb">Tips For First Time Speakers</a> - Emma Wedekind</li>
    <li><a href="https://www.codeprep.io/podcast/018/">Writing a CFP</a> - Jenifer Bland</li>
    <li><a href="https://opensource.com/article/17/9/7-best-practices-giving-conference-talk">7 best practices for giving a conference talk</a> - Vicky Brasseur</li>
    <li><a href="http://www.guysmithferrier.com/Downloads/HowToGiveGreatPresentations.pdf">How To Give Great Presentations</a> - Guy Smith-Ferrier</li>
    <li><a href="https://www.troyhunt.com/speaker-style-bingo-10-presentation/">Speaker style bingo</a> - Troy Hunt</li>
    <li><a href="https://medium.com/saltnburnem/speaker-tips-legit-feels-b17b30a464d">Speaker Tips & Legit Feels</a> - Chris DeMars</li>
    <li><a href="https://medium.com/dddeastmidlands/how-to-talk-really-really-good-part-3-sparkling-biographies-42f21e960412">How To Talk Really, Really Good. Part</a> - DDD East Midlands</li>
    <li><a href="https://docs.google.com/presentation/d/1dOXdy8XOS4WvE3NjnEUI4gVyYgpJ8YiUyT-Aj1Eh4fE/edit#slide=id.g3080217f6e_0_475">Taking the fear & frustration out of proposal writing</a> - Marisa Morby</li>
    <li><a href="https://reverentgeek.com/5-essential-ingredients-for-an-awesome-tech-talk/">5 Essential Ingredients for an Awesome Tech Talk</a> - David Neal</li>
</ul>

