@using DDDEastAnglia.DataAccess

@if (new EventRepository().Get("DDDEA2013").CanSubmit())
{
    <div id="notifications-banner">
        <span class="dismiss"><a title="Dismiss this notification">X</a></span>
        <p>Session submission is now open. If you would like to speak at DDD East Anglia, please @Html.ActionLink("submit a session", "Create", "Session", null, new { @class = "submit-session" }).</p>
    </div>                                
}
else if (new EventRepository().Get("DDDEA2013").CanVote())
{
    <div id="notifications-banner">
        <span class="dismiss"><a title="Dismiss this notification">X</a></span>
        <p>Session voting is now open. Please @Html.ActionLink("vote on the sessions", "Vote", "Session") you would like to see at <span class="dddea">DDD East Anglia</span>.</p>
    </div>                                
}
