<hr>
<footer>
    <p>
        &copy; 2013-@DateTime.Now.Year DDD East Anglia
        &mdash;
        <i class="icon-envelope-alt"></i> <a href="mailto:organisers@dddeastanglia.com">Email</a>
        &mdash;
        <i class="icon-twitter"></i> <a href="http://twitter.com/DDDEastAnglia" target="_blank">Twitter</a>
        &mdash;
        <i class="icon-github"></i> <a href="https://github.com/dddeastanglia/DDDEastAnglia/issues" target="_blank">Found a problem?</a>
        &mdash;
        <i class="icon-globe"></i> <a href="http://dddeastanglia2013.azurewebsites.net">2013 Site</a>
    </p>
</footer>
