<hr>
<footer>
    <div>
        &copy; 2013-@DateTime.Now.Year DDD East Anglia
        &mdash;
        <i class="icon-envelope-alt"></i> <a href="mailto:organisers@dddeastanglia.com">Email</a>
        &mdash;
        <i class="icon-twitter"></i> <a href="http://twitter.com/DDDEastAnglia" target="_blank">Twitter</a>
        &mdash;
        <i class="icon-facebook"></i> <a href="http://www.facebook.com/dddeastanglia" target="_blank">Facebook</a>
        &mdash;
        <i class="icon-github"></i> <a href="https://github.com/dddeastanglia/DDDEastAnglia/issues" target="_blank">Found a problem?</a>
        &mdash;
        <i class="icon-globe"></i> 
        <div id="oldsites-footer-menu">
            <div>
                Previous Years <i class="icon-caret-down"></i>
                <ul>
                    <li><i class="icon-globe"></i> <a href="http://dddeastanglia2019.azurewebsites.net">2019 Site</a></li>
                    <li><i class="icon-globe"></i> <a href="http://dddeastanglia2018.azurewebsites.net">2018 Site</a></li>
                    <li><i class="icon-globe"></i> <a href="http://dddeastanglia2017.azurewebsites.net">2017 Site</a></li>
                    <li><i class="icon-globe"></i> <a href="http://dddeastanglia2015.azurewebsites.net">2015 Site</a></li>
                    <li><i class="icon-globe"></i> <a href="http://dddeastanglia2014.azurewebsites.net">2014 Site</a></li>
                    <li><i class="icon-globe"></i> <a href="http://dddeastanglia2013.azurewebsites.net">2013 Site</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
