@model IEnumerable<DDDEastAnglia.Controllers.SponsorsController.SponsorSidebarModel>
<section id="sponsors">
    <h1>Sponsors</h1>
    @foreach (var sponsor in Model)
    {<div class="sponsor">
        <a href="@sponsor.Url"><img src="@sponsor.Logo" /></a>
    </div>
    }
</section>
