@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="error">Oops!</h2>

<p>
    <i class="icon-warning-sign icon-4x"></i>
    That wasn't supposed to happen.
</p>

<p>
    Please <a href="https://github.com/dddeastanglia/DDDEastAnglia/issues/new" target="_blank">report it on GitHub</a>, or 
    <a href="mailto:organisers@dddeastanglia.com">send us an email</a> telling us what happened.
</p>
