@{
    ViewBag.Title = "Admin Index";
}

<h2>Admin Index</h2>
<ul>
    <li>@Html.ActionLink("Users",MVC.Admin.User.Index())</li>
    <li>@Html.ActionLink("Roles", MVC.Admin.Role.Index())</li>
    <li>@Html.ActionLink("Sessions", MVC.Admin.Session.Index())</li>
</ul>