@{
    ViewBag.Title = "Admin Index";
}

<h2>Admin Index</h2>
<ul>
    <li>@Html.ActionLink("Users", "Index", "AdminHome")</li>
    <li>@Html.ActionLink("Roles", "Index", "Role")</li>
    <li>@Html.ActionLink("Sessions", "Index", "Session")</li>
</ul>