@model DDDEastAnglia.Areas.Admin.Models.MenuViewModel

@{
    ViewBag.Title = "Admin Index";
}

<h2>Admin Index</h2>

<ul>
    <li>@Html.ActionLink("Roles", "Index", "Role")</li>
    <li>@Html.ActionLink("Sessions", "Index", "Session")</li>
    <li>@Html.ActionLink("Users", "Index", "User")</li>
    @if (Model.ShowVotingStatsLink)
    {
        <li>@Html.ActionLink("Voting", "Index", "Voting")</li>
    }
</ul>
